body {
  background-color: #ddeafb;
}

.sidebar {
  width: 120px;
  background-color: #0d6efd;
  border-top-right-radius: 20px;
}

.sidebar img {
  width: 80px;
  margin-top: 1rem;
}

.sidebar a {
  margin-bottom: 1rem;
}

.card-lista {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
}

.card-nome {
  font-size: 1rem;
  color: #0d6efd;
  font-style: italic;
  font-weight: 500;
}

.btn-chamada {
  background-color: #cfe2ff;
  color: #000;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 15px;
  padding: 0.4rem 1rem;
  border: none;
}

.titulo {
  color: #0d6efd;
  font-weight: bold;
}

.btn-custom {
  background-color: #0044d6f4;
  color: white;
  padding: 0.5rem 1.5rem;
}

.btn-custom:hover {
  background-color: #147BE3;
  color: white;
  padding: 0.5rem 1.5rem;
}