<body class="bg-light-blue d-flex align-items-center justify-content-center min-vh-100">

  <div class="d-flex flex-column align-items-center justify-content-center w-100">
    <div class="login-container text-center">
      <div class="user-icon mb-4">
        <img src="assets/Perfil.png" alt="Logo Perfil" width="180">
      </div>

      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="mb-3 text-start">
          <label for="usuario" class="form-label text-primary fw-semibold">Usuário</label>
          <input type="email" class="form-control" placeholder="exemplo@email.com" formControlName="email">

          <div *ngIf="enviado && email?.invalid" class="text-danger mt-1">
            <small *ngIf="email?.errors?.['required']">Email é obrigatório.</small>
            <small *ngIf="email?.errors?.['email']">Formato de email inválido.</small>
          </div>
        </div>

        <div class="mb-3 text-start">
          <label for="senha" class="form-label text-primary fw-semibold">Senha</label>
          <input type="password" class="form-control" placeholder="Digite sua Senha" formControlName="senha">

          <div *ngIf="enviado && senha?.invalid" class="text-danger mt-1">
            <small *ngIf="senha?.errors?.['required']">*A Senha é obrigatória.</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3 custom-btn">Entrar</button>
      </form>

    </div>

    <div class="footer-logos">
      <img src="assets/prefeitura.png" alt="Logo Prefeitura de Assis">
      <img src="assets/assistencia.png" alt="Logo Secretaria de Assistência Social">
      <img src="assets/cci.png" alt="Logo CCI">
    </div>
  </div>
</body>

<!-- Toast de Erro -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" #liveToastError class="toast text-bg-danger border-0" role="alert" aria-live="assertive"
    aria-atomic="true">

    <div class="toast-header text-bg-danger border-0">
      <strong class="me-auto">Erro ao realizar Login</strong>

      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>

    <div class="toast-body">
      {{ mensagemErro }}
    </div>
  </div>
</div>

<!-- Toast de Sucesso -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" #liveToastSuccess class="toast text-bg-success border-0" role="alert" aria-live="assertive"
    aria-atomic="true">

    <div class="toast-header text-bg-success border-0">
      <strong class="me-auto">Sucesso ao realizar Login</strong>

      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>

    <div class="toast-body">
      {{ mensagemSucesso }}
    </div>
  </div>
</div>