<body class="bg-light-blue d-flex align-items-center justify-content-center min-vh-100">

    <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <div class="login-container text-center">
            <div class="user-icon mb-4">
                <img src="assets/Perfil.png" alt="Logo Perfil" width="180">
            </div>

            <form>
                <div class="mb-3 text-start">
                    <label for="usuario" class="form-label text-primary fw-semibold">Usuário</label>
                    <input type="text" class="form-control custom-input" placeholder="Entre com seu usuário">
                </div>
                <div class="mb-3 text-start">
                    <label for="senha" class="form-label text-primary fw-semibold">Senha</label>
                    <div class="input-group">
                        <input type="password" class="form-control custom-input" placeholder="Digite sua senha">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3 custom-btn">Entrar</button>

                <a href="#" class="d-block mt-3 text-decoration-none text-primary fw-semibold"><u>Registrar-se</u></a>
            </form>

        </div>

        <div class="mt-4 d-flex justify-content-center gap-5">
            <img src="assets/prefeitura.png" alt="Logo Prefeitura de Assis" width="150">
            <img src="assets/assistencia.png" alt="Logo Secretaria de Assistência Social" width="150">
            <img src="assets/cci.png" alt="Logo CCI" width="150">
        </div>
    </div>
</body>