<div style="text-align: center; margin-top: 40px;">
  <h1>📌 Menu de Navegação</h1>

  <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
    <button routerLink="/login">Login</button>
    <button routerLink="/admin">Admin</button>
    <button routerLink="/busca-presenca">Busca Presença</button>
    <button routerLink="/importe-chamada">Importar Chamada</button>
    <button routerLink="/lista-chamada">Lista de Chamada</button>
    <button routerLink="/lista-geral">Lista Geral de Chamada</button>
    <button routerLink="/registro">Registros</button>
    <button routerLink="/relacao-servidores">Relação de Servidores</button>
  </div>
</div>

<hr>

<router-outlet></router-outlet>
