<body>

<div class="d-flex min-vh-100">

  <app-navbar></app-navbar>

  <div class="flex-fill p-5" style="overflow-y: visible; min-height: 100vh;">
  
  <div class="content container-fluid p-0">
    <h2 class="titulo-principal text-primary fw-bold mb-5">Lista Geral de Presença</h2>

    <div class="caixa-lista shadow p-4 rounded">
      <div class="d-flex flex-column justify-content-center align-items-start mb-4 div-inicio">
          <h2 class="titulo text-primary fw-bold mb-4">Relação de Servidores</h2>

          <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-3">
            <div>
              <h5 class="titulo-lista mb-0">Lista Membros</h5>
            </div>
            <div class="d-flex align-items-center gap-4">
              
              <div class="input-group busca">
                <span class="input-group-text bg-white border-end-0">
                  <i class="bi bi-search text-muted"></i>
                </span>
                <input type="text" class="form-control border-start-0" placeholder="Buscar" />
              </div>

              <div class="d-flex justify-content-center">
                  <button class="btn btn-primary justify-content-end" (click)="abrirModalChamada()">
                    Editar chamada
                  </button>
              </div>

              <div class="d-flex justify-content-center">
                  <button class="btn btn-success justify-content-end" (click)="abrirModalChamada()">
                    Finalizar chamada
                  </button>
              </div>

            </div>

      <div class="table-responsive">
        <table class="table tabela-membros">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Inscrição</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td data-label="ID">00000</td>
              <td data-label="Nome">Kaique Alexandre souza kubota </td>
              <td data-label="Inscrição">DD/MM/AAAA</td>
              <td data-label="Status"><span class="badge status ativo">Ativo</span></td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td data-label="ID">00000</td>
              <td data-label="Nome">Clara Maria</td>
              <td data-label="Inscrição">DD/MM/AAAA</td>
              <td data-label="Status"><span class="badge status ativo">Ativo</span></td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td data-label="ID">00000</td>
              <td data-label="Nome">Nome</td>
              <td data-label="Inscrição">DD/MM/AAAA</td>
              <td data-label="Status"><span class="badge status ativo">Ativo</span></td>
            </tr>
          </tbody>

        </table>
      </div>

      
      <nav class="d-flex justify-content-end mt-3">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item disabled"><a class="page-link">‹</a></li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">4</a></li>
          <li class="page-item"><a class="page-link">…</a></li>
          <li class="page-item"><a class="page-link">40</a></li>
          <li class="page-item"><a class="page-link">›</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>

</body>