<body>
  <div class="d-flex min-vh-100">
    <app-navbar></app-navbar>

    <div class="flex-fill p-5" style="overflow-y: visible; min-height: 100vh;">
      <div class="content container-fluid p-0">
        <h2 class="titulo-principal text-primary fw-bold mb-5">Lista Geral de Presença</h2>

        <div class="caixa-lista shadow p-4 rounded">
          <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap">
            <div>
              <h5 class="titulo-lista mb-2">Lista de Alunos</h5>
              <div class="infos-lista d-flex gap-3">
                <span>Local:</span>
                <span>Servidor:</span>
              </div>
            </div>

            <div class="acao-botoes d-flex align-items-center gap-2 flex-nowrap ms-auto">
              <div class="input-group busca me-2">
                <span class="input-group-text bg-white border-end-0">
                  <i class="bi bi-search text-muted"></i>
                </span>
                <input type="text" class="form-control border-start-0" placeholder="Buscar" />
              </div>

              <button class="btn btn-primary px-3 py-2">Editar chamada</button>
              <button class="btn btn-success px-3 py-2">Finalizar chamada</button>
            </div>
          </div>

          <div class="table-responsive mt-3">
            <table class="table tabela-membros">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Inscrição</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td data-label="ID">00000</td>
                  <td data-label="Nome">Kaique Alexandre Souza Kubota</td>
                  <td data-label="Inscrição">DD/MM/AAAA</td>
                  <td data-label="Status"><span class="badge status ativo">Ativo</span></td>
                </tr>
                <tr>
                  <td data-label="ID">00000</td>
                  <td data-label="Nome">Clara Maria</td>
                  <td data-label="Inscrição">DD/MM/AAAA</td>
                  <td data-label="Status"><span class="badge status ativo">Ativo</span></td>
                </tr>
                <tr>
                  <td data-label="ID">00000</td>
                  <td data-label="Nome">Nome</td>
                  <td data-label="Inscrição">DD/MM/AAAA</td>
                  <td data-label="Status"><span class="badge status ativo">Ativo</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


